body {
	background-color: #ddd;
}

h2 {
	text-align: center;
	border: 3px solid #000;
	display: inline;
}

#content {
	font-family: sans-serif;
	font-size: 16px;
}

#container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 255, 255);
}

#disclaimer {
	color: black;
	font-size: 20px;
	background-color: rgb(253, 174, 174);
	width: intrinsic; /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content; /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	border: 2px solid red;
}

#header {
	border: 5px solid #000;
	width: 90%;
	margin: 10px auto;
	font: size 50px;
	font-family: sans-serif;
	background-color: rgb(255, 255, 255);
	color: #000;
	text-align: center;
}

#nav {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #000;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: white;
	background: #000;
}

#selectedPage {
	color: white;
	background: #000;
}

#main {
	margin-left: 10px;
}

code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Courier New, monospace, sans-serif;
	background-color: #d0d0d0;
}

#multiLine {
	width: intrinsic; /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content; /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	background-color: #d0d0d0;
	background-size: 500px;
}
