.disclaimer {
	color: black;
	font-size: 20px;
	background-color: rgb(253, 174, 174);
	width: intrinsic; /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content; /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	border: 2px solid red;
}

h1 {
	color: black;
	background-color: white;
	border: 5px solid black;
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
}

h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	text-align: center;
	/*width: intrinsic; /* Safari/WebKit uses a non-standard name */
	/*width: -moz-max-content; /* Firefox/Gecko */
	/*width: -webkit-max-content; /* Chrome */
	border: 3px solid black;
}

h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navigation {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
}

code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Courier New, monospace, sans-serif;
	background-color: #d0d0d0;
}

p {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.multiLine {
	width: intrinsic; /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content; /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	background-color: #d0d0d0;
	background-size: 500px;
}
